/*#F6E1C3 backpag*/
/*#E9A178 header*/
/*#A84448 footer*/
/*#7A3E65*/

*{
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
body{
    font-family:'Lucida Grande', Verdana, sans-serif;
    background-color: #F6E1C3;
}header{
    background-color: #E9A178;
    padding: 100px;
}.header__imagem{
    width: auto;
    height: auto;
    max-width: 600px;
    margin-left: 25%;
}
main{
    text-align: center;
}
h1, h2, h4{
    padding: 10px;
}

figure{
    background-color: #E9A178;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    padding: 15px;
    margin-left: 400px;
    margin-right: 400px;
}figure img{
    width: 100%;
}.main__imagem{
    max-width: 100rem;
    max-height: 70rem;
    width: auto;
    height: auto;
}
p{ 
 text-align: left;
 padding: 30px;
}
footer{
    background-color: #A84448;
    text-align: center;
}.footer__titulo, .footer__texto{
    text-align: center;
    padding: 10px;
}