*{
    padding: 0;
    margin: 0;

}
body{
    font-family:"Helvetica", "Lucida Grande", sans-serif;
}
h1{
    background-color: #bbd6bb;
    text-align: center;
    padding: 20px 0px;
    box-shadow: 0px 5px 10px #94af9f;
}
img{
    width: 100%;
    height: 700px;
}.main__listas{
    padding-left: 30px;
}